/*
========================================================================================
    nf-16s-pipe Nextflow config file
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    outdir   = "outDir"
    tracedir = "${params.outdir}/pipeline_info"

    // Process parameters
    trunc_len        = 0
    trunc_q          = 2
    taxa_level       = 5    // collapse to genus
    phred_offset     = 33
    cluster_identity = 0.8

    // Reference files
    otu_ref_url            = "https://data.qiime2.org/2022.2/common/silva-138-99-seqs.qza"
    trained_classifier_url = "https://data.qiime2.org/2022.2/common/silva-138-99-nb-classifier.qza"
    qiime_release          = "2022.2"
    qiime_container        = "quay.io/qiime2/core:${params.qiime_release}"
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

singularity {
    enabled    = true
    autoMounts = true
}

process {
    // Containerization
    withLabel:singularity_qiime2 {
        container = "${params.qiime_container}"
    }
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
    name            = 'nf-16s-pipe'
    author          = 'Food Systems Biotechnology Laboratory of ETH Zurich'
    homePage        = 'https://github.com/lina-kim/nf-16s-pipe'
    description     = 'Process amplicon meta-analysis data, from NCBI accession IDs to taxonomic diversity metrics.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.0.0'
    version = '0.1'
}