process {
    withLabel:container_qiime2 {
        conda = "${params.qiime_conda_env}"
    }
    withLabel:container_fastqc {
        conda = "${params.fastqc_conda_env}"
    }
    withLabel:container_fondue {
        conda = "${params.fondue_conda_env}"
    }
    withLabel:container_multiqc {
        conda = "${params.multiqc_conda_env}"
    }
    withLabel:container_pandas {
        conda = "${params.pandas_conda_env}"
    }
}

conda {
    enabled = true
}