process {
    withLabel:container_qiime2 {
        container = "${params.qiime_container}"
    }
    withLabel:container_fastqc {
        container = "${params.fastqc_container}"
    }
    withLabel:container_fondue {
        container = "${params.fondue_container}"
    }
    withLabel:container_multiqc {
        container = "${params.multiqc_container}"
    }
    withLabel:container_pandas {
        container = "${params.pandas_container}"
    }
}

docker {
    enabled = true
}