/*
========================================================================================
    Nextflow config file for user-input parameters
========================================================================================
    Defines input files and parameters required to run the workflow.

----------------------------------------------------------------------------------------
*/

params {
    // Required user-input parameters
    inp_md_file = "/path/to/metadata/file.txt"
    name        = "series_name"
}