/*
========================================================================================
    Nextflow config file for user-input parameters
========================================================================================
    Defines input files and parameters required to run the workflow.

----------------------------------------------------------------------------------------
*/

params {
    // Required user-input parameters
    inp_id_file = "/path/to/accession/id/file.tsv"

    // Optional user-input parameters
    outdir = "/path/to/output/directory"
}