/*
========================================================================================
    Nextflow config file for user-input parameters
========================================================================================
    Defines input files and parameters required to run the workflow.

----------------------------------------------------------------------------------------
*/

params {
    // Required user-input parameters
    // TODO note some are unnecessary if starting from an intermediate process
    inp_id_file        = "/path/to/accession/id/file.tsv"
    email_address      = "first.last@ethz.ch"
    read_type          = "paired"                       // or "single"
    otu_ref_file       = "/path/to/otu/ref"             // null if downloading default
    trained_classifier = "/path/to/trained/classifier"  // null if downloading default

    // Optional user-input parameters
    outdir     = null             // optional, default outDir
    trunc_len  = null             // optional, default 0
    trunc_q    = null             // optional, default 2
    taxa_level = null             // optional, default 5 (collapse to genus)

    // Intermediates to skip SRA FASTQ retrieval
    fastq_manifest = null
    phred_offset   = null    // optional, default 33

    // Intermediates to skip processes through DADA2
    denoised_table = null
    denoised_seqs  = null
}