/*
========================================================================================
    nf-16s-pipe Nextflow parallel config file
========================================================================================
    Config option to maximally parallelize processes
----------------------------------------------------------------------------------------
*/

params {
    dada2.num_threads      = 0
    vsearch.num_threads    = 0
    classifier.num_jobs    = -1
    classifier.num_threads = 0
    uchime_ref.num_threads = 0
}